.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 2em auto;
  max-width: 1750px;
}
.error {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.the-best-h3 {
  text-align: left;
  margin-left: 2.4em;
  margin-bottom: 0;
  margin-top: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(16, 16, 16, 0.7);
}

.product-img {
  width: 12em;
}

.pagination-btns {
  width: 80%;
  list-style: none;
  display: flex;
  margin: auto;
  max-width: 1000px;
}

.pagination-btns a {
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.pagination-btns a:hover {
  background-color: #e0e2db;
}
.pagination-active {
  background-color: #e0e2db;
}

@media screen and (min-width: 800px) {
  .pagination-btns {
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .the-best-h3 {
    margin-left: 2em;
  }
  .pagination-btns {
    margin-left: 2.3em;
  }
}
