.product-details-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.product-details-container {
  width: 85%;
  margin-top: 2em !important;
  margin: auto 6%;
  text-align: left;
}

.name-price-wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.product-text {
  text-transform: uppercase;
}

.review-input-field {
  width: 16em;
}

.lorem {
  width: 90%;
}

.product-img {
  width: 20em;
}

@media screen and (min-width: 375px) {
  .product-details-container {
    margin-bottom: 4em;
  }
}
/* @media screen and (min-width: 425px) {
  .go-back {
    right: 40%;
  }
} */

@media screen and (min-width: 720px) {
  .product-details-container {
    display: flex;
    flex-direction: row;
  }

  .description-wrap {
    margin-left: 2em;
    margin-top: 3em;
  }

  .name-price-wrap {
    margin-left: 2em;
    width: 8em;
  }
}
