.product-details-container {
  height: 100vh;
  width: 85%;
  margin: auto;
  text-align: left;
}

.name-price-wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.product-text {
  text-transform: uppercase;
}

.lorem {
  width: 90%;
}

.product-img {
  width: 20em;
}
