.header-background {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -10em;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20em;
}

.heading-main {
  text-transform: lowercase;
  font-family: a;
}

.adidas-header-text {
  width: 10em;
}

.p-main {
  color: rgba(16, 16, 16, 0.8);
  text-align: center;
}

@media screen and (min-width: 350px) {
  .header-background {
    height: 50vh;
    background-position-y: 0em;
    /* background-position-x: -5em; */
    padding: 2em 2em 0em 2em;
  }

  .p-main {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 650px) {
  .header-background {
    height: 50vh;
    background-position-y: 0em;
    background-position-x: 0em;
    padding: 10em;
  }
}
@media screen and (min-width: 1000px) {
  .header-background {
    height: 65vh;
    background-position-y: -12em;
    background-position-x: 0em;
    padding: 3em 20em;
  }
}
@media screen and (min-width: 1300px) {
  .header-background {
    height: 75vh;
    background-position-y: -12em;
    background-position-x: 0em;
    padding: 3em 20em;
  }
}
@media screen and (min-width: 2000px) {
  .header-background {
    padding: 0 35em;
  }

  .p-main {
    font-size: 1.3;
  }
}
